<div>

    <table>
        <tr>
            <td>
                Amount:
            </td>
            <td>
                <input [(ngModel)]="amount" type="text"/>
            </td>
        </tr>
        <tr>
            <td>
                Tenure:
            </td>
            <td>
                <input [(ngModel)]="tenure" type="text"/>
            </td>
        </tr>
        <tr>
            <td>
                Interest rate %:
            </td>
            <td>
                <input [(ngModel)]="interestRate" type="text"/>
            </td>
        </tr>
        <tr>
            <td>
                <button (click)="calculate()">Calculate</button>
            </td>
            <td>
                <button (click)="clear()">Clear</button>
            </td>
        </tr>
    </table>
</div>
