<div>
    <table>
        <tr>
            <td>
                Monthly EMI : 
            </td>
            <td>
                {{emi}}
            </td>
        </tr>
        <tr>
            <td>
                Total Interest Amount : 
            </td>
            <td>
                {{interest}}
                
            </td>
        </tr>
        <tr>
            <td>
                Total Amount Payable : 
            </td>
            <td>
                {{total}}
                
            </td>
        </tr>
    </table>
</div>
